.yellowLetter {
    background: yellow;
}

.redLetter {
    background: red;
}

#writtenByParents {
    border-color:  #FF1493!important;
}

#writtenByKid {
    border-color: #9370DB!important;
}
h1 {
    background-color: #F0FFFF;
    min-height: 120px;
    white-space: pre-wrap;
    word-spacing: 1.1rem;
    border-radius: 10px;
}

textarea {
    width: 100%;
    border-radius: 10px;
    background: #FFFAF0;
}

label {
    font-family:Comic Sans MS;
    color: purple;
}

p {
    margin-top: 30px;
    font-family:Comic Sans MS;
    text-align: center;
    color: purple;
    word-spacing: 6px;
    font-weight: bold;
}

body {
    background: #F0FFFF;
    background-image: url("../images/sky2.jpg");
}
#allTables {
    margin-left: 120px!important;
    margin-right: 120px!important;
}

#confeti {
    position:absolute;
} 
    

#confettiButton {
    /* z-index: 2; */
    position: relative;
}
#infoButton {
    float: right;
}

